<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppFolder</key>
	<string>~/CloudCoin/</string>
	<key>ImportFolder</key>
	<string>~/CloudCoin/Import/</string>
	<key>ExportFolder</key>
	<string>~/CloudCoin/Export/</string>
	<key>LogFolder</key>
	<string>~/CloudCoin/Log/</string>
	<key>BackupFolder</key>
	<string>~/CloudCoin/Backup/</string>
	<key>TmpFolder</key>
	<string>~/CloudCoin/Tmp/</string>
</dict>
</plist>
